---
title: Service unavailable pages
description: This is a page that tells someone a service is unavailable. It should say when the service will be available or what to do if it is permanently closed.
section: Patterns
theme: Pages
aliases:
backlog_issue_id: 124
layout: layout-pane.njk
---
{% from "_example.njk" import example %}

This is a page that tells someone a service is unavailable. It should say when the service will be available or what to do if it is permanently closed.

{{ example({group: 'patterns', item: 'service-unavailable-pages', example: 'default', html: true, nunjucks: true, open: false}) }}


## When to use this pattern

Use a service unavailable page when a service has been closed on purpose. This could be for a specific period of time or permanently.

If there is a problem with the service, use a [technical problem page](link to technical problem page).

Have a general page in case you need to quickly close a service. Update the page as soon as you know when the service will be available.

## How it works

Use the standard page template from your service and have the same:

- header
- phase banner
- footer

The page should have:

- “Service unavailable – service name – GOV.UK” as the page title
- “Service unavailable” as the H1
- the day, date and time it is going to be available or what to do if it is permanently closed
- contact information, if it exists and helps meet a user need

Contact information should be either:

- a link to a specific GOV.UK contact page not a general contact page
- formatted like a GOV.UK contact page when there is no GOV.UK page

Have clear and concise content and do not use:

- breadcrumbs
- words like maintenance, improvements, please and sorry
- red text to warn people

### General page

### When you know when a service will be available 

### Service is closed for part of the year

This is for a service like tax credit renewals.

#### After a service closes


#### Before a service opens


### Service is closed forever

#### Nothing has replaced the service


#### Something has replaced the service


## Research on this pattern

We need more research – [add your research on GitHub](link to issue).

We want to know:

- what people need to know
- what their expectations are after reading the page
- if people understand what is going on when they see the page
