---
layout: layout-example.njk
---

<div class="govuk-o-width-container">

  <div class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">Page not found</h1>
        <p class="govuk-body">If you typed the web address, check it is correct.</p>
        <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
        <p class="govuk-body">If the web address is correct or you selected a link or button, you can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-list" href="https://www.gov.uk/contact-the-tax-credit-office">contact the Tax Credit Helpline</a> if you need to speak to someone about your tax credits</li>
            <li>report the page not found</li>
          </ul>
        <p class="govuk-body">If you want us to tell you when we have fixed the link or button, give us your name and email address.</p>
        <form action="/url/of/next/page" method="post">
          <div class="govuk-o-form-group"><label class="govuk-c-label" for="name">
            Name (optional)
          </label>
          <input class="govuk-c-input" id="name" name="name" type="text">
          </div>
          <div class="govuk-o-form-group"><label class="govuk-c-label" for="email">
          Email address
          </label>
          <input class="govuk-c-input" id="email" name="email" type="text">
          </div>
          <button type="submit" class="govuk-c-button" id="continue">Report a page not found</button>
        </form>
        
      </div>
    </div>
  </div>

</div>
